.categoryLink {
    text-decoration: none;
    color: black;
    display: block;
}

.header {
    margin-bottom: 0.5rem;
}

.categoryLink:not(:first-child) {
    margin-top: 2rem;
}

.paragraph {
    margin: 0;
}

.search {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid lightgray;
    border-radius: var(--border-radius);
    background-color: #f1f1f1;
    font-size: 1rem;
}
